.card-img-article {
  height: 200px;
  object-fit: cover;
}

.article-gray-text {
  font-size: 14px;
  color: #595959;
}

.text-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-top-100 {
  margin-top: 100px;
}

.list-article {
  min-height: 80vh;
  margin-bottom: 50px;
}
